<label for="tem">Área temática:</label>
<input type="hidden" value="<%= quiz.tema %>" id="tem">
<select name="quiz[tema]" id="comboTema">
  <option value="otro">Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select><br/>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">

<script>
	var tema = document.getElementById('tem').value;
	document.getElementById('comboTema').value = tema;
</script>
